@model CarrosViewModel;

@{
    ViewData["Title"] = "Contato";
}

<h1>Carros</h1>

<a class="btn btn-primary" asp-controller="home" asp-action="CadastrarCarro">Cadastrar Carro</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th colspan="2">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var carro in this.Model.listCarro)
            {
                <tr>
                    <td>@carro.id</td>
                    <td>@carro.nome</td>
                    <td>@carro.fabricante</td>
                    <td>@carro.marca</td>
                    <td>@carro.modelo</td>
                    <td>@carro.ano</td>
                    <td>
                        <a class="btn btn-primary" asp-action="CadastrarCarro" asp-controller="Home" asp-route-id="@carro.id" >Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Deletar" asp-controller="Home" asp-route-id="@carro.id" >Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
